@charset "UTF-8";
dd{
	margin:0;
}
li.ListGroupItem{
	list-style:none;
	margin:0;
	padding:0;
}
input.img-button {
	display:inline-block;
	width:25px;
	height:25px;
    background-image:url("/images/검색돋보기.png");
   	background-size: cover;
   	background-position:center;
	background-repeat: no-repeat;
    border: none;
	cursor: pointer;
}
button.mansearch_insert{
	width:93px;
	height:38px;
	padding:6px 12px;
	margin-bottom:10px;
	background-color:#bb2642;
	color:white;
	border:2px solid #bb2642;
	border-radius:5px;
}
button.mansearch_insert:hover{
	background-color:#871b30;
}
div.mansearch_title{
	padding:5px 30px;
	font-size:1rem;
	display:inline-block;
	border:2px solid #edf0ef;
	border-radius:5px;
	width:100%;
	height:80px;
	margin-bottom:30px;
	background-color:#e7edf0;
}

div.mansearch_findstr_zone>.form-control {
    display: inline-block;
    width: 95%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align:right;
    margin-bottom:10px;
}
#index_corpname {
	color: black;
	font-size: 0.9rem;
	font-family: 'BMHannaAir';
}
#task{
	padding:0;
	display:inline-block;
	text-align:center;
	font-size:12px;
	width:40px;
	height:17px;
	border-radius:15px;
	background-color:#bb2642;
	color:white;
	vertical-align:middle;
}
#job_index{
	padding:0;
	text-align:center;
	display:inline-block;
	font-size:12px;
	width:95px;
	height:17px;
	border-radius:15px;
	background-color:#bb2642;
	color:white;
	vertical-align:middle;
}
span#work_start{
	font-size:0.8rem;
	color:#6b7280;
}
span#deadline{
	font-size:0.8rem;
	color:#bb2642;
}
span#corp_location,#pay,#education_level,#required_carrer,#work_type{
	display:inline-block;
	margin-right:15px;
	font-size:0.8rem;
	color:#6b7280;
}
span#required_skill{
	display:inline-block;
	font-size:0.8rem;
	color:#6b7280;
}
button.btnMove{
	border:none;
	background-color:white;
}
button.btnMove:hover{
	color:#bb2642;
}
.dropdown_row .dropdown_content{
	width:40vw;
	height:20vh;
}
.dropdown_row .dropdown_content .form_select{
	width:45%;
	height:90%;
	display:inline-block;
	overflow-y:auto;
	margin:10px;
}
/*mansearch_view.jsp*/
#mansearch_datezone{
	margin-top:5px;
}
span.work_start{
	color:#374151;
	font-size:0.9rem;
}
span.deadline{
	color:#bb2642;
	font-size:0.9rem;	
}