<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kodup.jobsearch.JobsearchBoardMapper">
	
	<select id='view' parameterType="Integer" resultType="com.kodup.jobsearch.JobsearchBoardVo">
		SELECT b.board_delete, b.id,b.sno, b.boardtype, b.nal, b.subject, b.viewcount, b.thumbup,b.thumbdown, b.doc,
	    j.jobsearch_horsehead,
	    m.profile_img, m.nickname
		FROM board b LEFT JOIN jobsearch_board j ON b.sno = j.sno
	   				 LEFT JOIN member m    ON m.id = b.id
	    WHERE b.sno = ${_parameter}
    </select>

	<select id='hashList' parameterType="Integer" resultType="com.kodup.jobsearch.JobsearchHashVo">
    	select hashtag from board where sno=${_parameter}
    </select>
    
	<select id="replList" parameterType="Integer" resultType="com.kodup.jobsearch.JobsearchBoardReplVo">
		SELECT r.id, r.repl_delete, r.repl_sno, r.grp, r.seq, r.deep, r.repl_nal, r.repl_doc, rs.repl_status,
		m.profile_img, m.nickname,
		(select count(*) from repl where grp=r.grp and seq>r.seq) countinnerrepl
		FROM repl r LEFT JOIN repl_selected rs ON r.repl_sno = rs.repl_sno
					LEFT JOIN member m 		   ON r.id = m.id
		where r.sno = ${_parameter}
		ORDER BY rs.repl_status DESC, r.grp DESC, r.deep ASC, r.seq ASC;
    </select>
    
    <update id="thumbup"  parameterType="Integer">
    	update board set thumbup= thumbup+1 where sno=${sno};
    </update>
    
     <update id="thumbdown"  parameterType="Integer">
    	update board set thumbdown= thumbdown+1 where sno=${sno};
    </update>
    
    <update id='jobsearchDeleteR' parameterType="com.kodup.jobsearch.JobsearchBoardVo">
    	update board set board_delete=1 where sno=${sno}
    </update>
    
    <update id='jobsearchReplDeleteR' parameterType="Integer">
    	update repl set repl_delete=1 where repl_sno=${repl_sno}
    </update>
    
   
    
    <insert id='insertRepl' parameterType="com.kodup.jobsearch.JobsearchBoardReplVo">
    	insert into repl(repl_doc,id,sno, grp,seq,deep,repl_nal) 
		values("${repl_doc}","${sessionid}",${sno},
		(select grp from ( select count(*) as grp from repl where deep=0) as repl_temp),
		(select seq from ( select count(*) as seq from repl) as repl_temp),
		0,sysdate())
    </insert>
    
    
    <insert id='insertInnerRepl' parameterType="com.kodup.jobsearch.JobsearchBoardReplVo">
    	insert into repl(repl_doc,id,sno, grp,seq,deep,repl_nal) 
		values("${repl_doc}","${sessionid}",${sno},
		${grp},
		(select seq from ( select count(*) as seq from repl) as repl_temp),
		1,sysdate()) 
    </insert>
    
    
    
    <update id="ReplUpdateR" parameterType="com.kodup.jobsearch.JobsearchBoardReplVo">
    	update repl set repl_doc = "${repl_doc}" where repl_sno=${repl_sno}
    </update>

</mapper>